/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* general */

body {
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
}

h4 {
  font-size: 1.3rem;
}

p {
  line-height: 25px;
}

/* utilities */

.d-flex {
  display: flex;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.btn {
  background-color: white;
  padding: 10px 10px;
  border-radius: 20px;
}

/* header */

header img {
  width: 75px;
}

header {
  background-color: #0084FD;
  margin-bottom: 45px;
}

header .container {
  justify-content: space-between;
  align-items: center;  
  height: 75px;
  padding: 0 10px;
}

header .menu-bar i {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

header .menu-classic {
  display: none;
}

header .menu-classic ul li{
  list-style: none;
  text-decoration: none;
  color: white;
  margin: 20px;
}


/* main */

/* section get */

section.get .items i {
  font-size: 4.5rem;
  color: #0283FE;
  padding-bottom: 20px;
}

.get h4 {
  color: #0283FE;
  padding-bottom: 30px;
}

.get p {
  padding-bottom: 30px;
}

section.get {
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 80px;
}

section.get .box {
  background-color: #B5DDFE;  
  border-radius: 20px;
  width: 310px;
  padding: 20px;
  margin: 10px;
}

section.get .app {
  padding: 20px 20px 0 20px;
}

section.get .items {
  text-align: center;
}


/* section strategic */

section.strategic {
  background-color: #9792E4;
  flex-wrap: wrap;
  padding: 50px 30px 70px 30px
}














/************************************************
    RESPONSIVE
 ************************************************/


/* header */

@media (min-width: 915px) {

 .container {
    width: 75%;
  }

  header .menu-bar {
    display: none;
  }

  header .menu-classic {
    display: inline-block;
  }
}

/* main */


/* section get */


@media (min-width: 768px) {
  section.get .app {
    width: 485px;

  }

  section.get .items {
    width: 230px;
  }
}

@media (min-width: 1350px) {
  section.get .app {
    width: 700px;

  }

  section.get .items {
    width: 300px;
  }
}

