/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* general */

body {
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
}

/* utilities */

.d-flex {
  display: flex;
}

/* header */

header {
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #0084FD;
  padding: 0 30px;
}

header .menu-bar i {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

header .menu-classic {
  display: none;
}

header .menu-classic ul li{
  list-style: none;
  text-decoration: none;
  color: white;
  margin: 20px;
}





/************************************************
    RESPONSIVE
 ************************************************/


/* header */

@media (min-width: 768px) {
  header .menu-bar {
    display: none;
  }

  header .menu-classic {
    display: inline-block;
  }
}